<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('订单管理')" ></head>
<body>
<div th:replace="include/admin/adminNavigator::html" ></div>
<script>
    $(function() {
        var formatDate = function (date) { //转换成"yyyy-MM-dd HH:mm:ss"格式的日期
            let y = date.getFullYear();
            let m = date.getMonth() + 1;
            m = m < 10 ? ('0' + m) : m;
            let d = date.getDate();
            d = d < 10 ? ('0' + d) : d;
            let h = date.getHours();
            let minute = date.getMinutes();
            minute = minute < 10 ? ('0' + minute) : minute;
            let second= date.getSeconds();
            second = minute < 10 ? ('0' + second) : second;
            let datetime = y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':' + second;
            return datetime;
        };
        var vue = new Vue({
            el: '#workingArea',
            data: {
                order_uri: 'orders',
                orderitem_uri: 'orderitems',
                beans: [],
                updateBean: {},
                pagination: {}
            },
            mounted:function(){
                this.list(0);
            },
            methods: {
                list: function(start) {
                    let url = this.orderitem_uri + "/list?start=" + start;
                    axios.get(url).then(function(response) {
                        console.log(response.data.content);
                        vue.pagination = response.data;
                        let arr = response.data.content;
                        let arr1 = [];
                        arr.forEach(function (object) {
                           arr1.push(object.order.id);
                        });
                        let orderId = Array.from(new Set(arr1));
                        let orderArr = orderId;
                        for(let i = 0; i < orderId.length; i++) {
                            let product_num = 0;
                            let product_price = 0;
                            let oneOrder = [];
                            arr.forEach(function (obj) {
                                if(obj.order.id == orderId[i]) {
                                    oneOrder.push(obj);
                                }
                            });
                            let oneOrderItems = [];
                            oneOrder.forEach(function (one) {
                                product_num = product_num + one.number;
                                product_price = product_price + one.product.promotePrice * one.number;
                                let obj = {id: 0, product: "", number: ""};
                                obj.id = one.id;
                                obj.number = one.number;
                                obj.product = one.product;
                                oneOrderItems.push(obj);
                            });
                            orderArr[i] = oneOrder[0];
                            orderArr[i].id = orderArr[i].order.id;
                            orderArr[i].showDetail = false;
                            orderArr[i].priceSum = product_price;
                            orderArr[i].numberSum = product_num;
                            orderArr[i].orderItems = oneOrderItems;
                            if(orderArr[i].order.createDate != null)
                                orderArr[i].order.createDate = timestamp2Date(orderArr[i].order.createDate);
                            if(orderArr[i].order.payDate != null)
                                orderArr[i].order.payDate = timestamp2Date(orderArr[i].order.payDate);
                            if(orderArr[i].order.deliveryDate != null)
                                orderArr[i].order.deliveryDate = timestamp2Date(orderArr[i].order.deliveryDate);
                            if(orderArr[i].order.confirmDate != null)
                                orderArr[i].order.confirmDate = timestamp2Date(orderArr[i].order.confirmDate);
                            delete orderArr[i].product;
                            delete orderArr[i].number;
                        }
                        vue.beans = orderArr;
                        console.log(vue.beans);
                    });
                },
                getOrderItem: function(i) {
                    let show = vue.beans[i].showDetail;
                    let obj = vue.beans[i];
                    obj.showDetail = !show;
                    Vue.set(vue.beans, i, obj);
                },
                deliverOrder: function(i) {
                    // let now = new Date().getTime();   //转换成时间戳格式，13位数字
                    let url = this.order_uri + "/update";
                    let create = vue.beans[i].order.createDate;
                    let pay = vue.beans[i].order.payDate;
                    vue.beans[i].order.deliveryDate = new Date().toISOString();  //转换成"yyyy-MM-dd'T'HH:mm:ss.SSSZ"格式的日期
                    vue.beans[i].order.createDate = new Date(create).toISOString();
                    vue.beans[i].order.payDate = new Date(pay).toISOString();
                    vue.beans[i].order.status = "待收货";
                    vue.updateBean = vue.beans[i].order;
                    console.log(vue.updateBean);
                    axios.put(url, this.updateBean).then(function (response) {
                        console.log(response);
                        vue.list(0);
                    });
                },
                jump: function(page) {
                    jump(page,vue);
                },
                jumpByNumber: function(start) {
                    jumpByNumber(start,vue);
                }
            }
        });

        function timestamp2Date(timestamp) {
            let date = new Date(timestamp),
                y = date.getFullYear(),
                m = date.getMonth() + 1,
                d = date.getDate();
            return y + "-" + (m < 10 ? "0" + m : m) + "-" + (d < 10 ? "0" + d : d) + " " + date.toTimeString().substr(0, 8);
        }

    });

</script>
<div id="workingArea" >
    <h1 class="label label-info" >订单管理</h1>
    <br>
    <br>
    <div class="listDataTableDiv">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr class="success">
                    <th>ID</th>
                    <th>状态</th>
                    <th>金额</th>
                    <th width="100px">商品数量</th>
                    <th width="100px">买家名称</th>
                    <th>创建时间</th>
                    <th>支付时间</th>
                    <th>发货时间</th>
                    <th>确认收货时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="(bean, index) in beans">
                    <tr>
                        <td>{{bean.id}}</td>
                        <td>{{bean.order.status}}</td>
                        <td>￥{{bean.priceSum}}</td>
                        <td>{{bean.numberSum}}</td>
                        <td>{{bean.user.name}}</td>
                        <td>{{bean.order.createDate}}</td>
                        <td>{{bean.order.payDate}}</td>
                        <td>{{bean.order.deliveryDate}}</td>
                        <td>{{bean.order.confirmDate}}</td>
                        <td>
                            <button class="orderPageCheckOrderItems btn btn-primary btn-xs" @click="getOrderItem(index)">查看详情</button>
                            <button class="btn btn-primary btn-xs" @click="deliverOrder(index)">发货</button>
                        </td>
                    </tr>
                    <tr v-show="bean.showDetail">
                        <td colspan="10" align="center">
                            <div class="orderPageOrderItem">
                                <table width="800px" align="center" class="orderPageOrderItemTable">
                                    <tr v-for="item in bean.orderItems">
                                        <td align="left">
                                            <img width="40px" height="40px" :src="'img/productsingle/' + item.product.id + '_1single.jpg'">
                                        </td>
                                        <td>
                                            <a :href="'admin_product_list?cid=' + item.product.category.id"><span>{{item.product.name}}</span></a>
                                        </td>
                                        <td align="right">
                                            <span class="text-muted">{{item.number}}个</span>
                                        </td>
                                        <td align="right">
                                            <span class="text-muted">单价：￥{{item.product.promotePrice}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
    <div th:replace="include/admin/adminPage::html" ></div>
</div>
<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>