<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('编辑产品属性')" ></head>
<body>
<div th:replace="include/admin/adminNavigator::html" ></div>
<script>
    $(function(){
        var cid = getUrlParms("cid");
        var pid = getUrlParms("pid");

        var vue = new Vue({
            el: '#workingArea',
            data: {
                uri: 'propertyvalues',
                listURL: 'admin_product_list',
                beans: [],
                category: '',
                product: '',
                properties: []
            },
            created: function() {
                this.getCategory(cid);
                this.getProduct(pid);
                this.getPropertyValue(cid, pid);
            },
            methods: {
                getCategory: function(cid) {
                    let url = "categories/get/" + cid;
                    axios.get(url).then(function (response) {
                        vue.category = response.data;
                    });
                },
                getProperty: function(cid) {
                    let url = "properties/get_all/" + cid;
                    axios.get(url).then(function(response) {
                        vue.properties = response.data;
                        let params = [];
                        for(let i in vue.properties) {
                            let p = { product: '', property: '', value: '' };
                            p.product = vue.product;
                            p.property = vue.properties[i];
                            params.push(p);
                        }
                        vue.beans = params;
                        console.log(vue.beans);
                    });
                },
                getProduct: function(pid) {
                    let url = "products/get/" + pid;
                    axios.get(url).then(function(response) {
                        vue.product = response.data;
                    });
                },
                getPropertyValue: function(cid, pid) {
                    let url = this.uri + "/get_all/" + pid;
                    axios.get(url).then(function(response) {
                        if(response.data.length != 0) {
                            vue.beans = response.data;
                        } else {
                            vue.getProperty(cid);
                        }
                    });
                },
                update: function() {
                    for(i in vue.beans){
                        if(!checkEmpty(vue.beans[i].value, vue.beans[i].property.name))
                            return;
                    }
                    let url = this.uri + "/update";
                    axios.put(url, vue.beans).then(function(response){
                        location.href = vue.listURL + "?cid=" + vue.category.id;
                    });
                }
            }
        });
    });
</script>

<div id="workingArea">
    <ol class="breadcrumb">
        <li><a href="admin_category_list">所有分类</a></li>
        <li><a :href="'admin_product_list?cid=' + category.id">{{category.name}}</a></li>
        <li class="active">{{product.name}}</li>
        <li class="active">编辑产品属性</li>
    </ol>

    <div class="editPVDiv">
        <div v-for="bean in beans">
            <div class="eachPV">
                <span class="pvName">{{bean.property.name}}：</span>
                <span class="pvValue"><input @keyup.enter="update" v-model.trim="bean.value" class="pvValue" type="text" /></span>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>

<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>