<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('编辑产品属性')" ></head>
<body>
<div th:replace="include/admin/adminNavigator::html" ></div>
<script>
    $(function(){
        var cid = getUrlParms("cid");
        var pid = getUrlParms("pid");
        var data4Vue = {
            uri: 'propertyvalues',
            listURL: 'admin_product_list',
            beans: [],
            bean: { pid: '', ptid: '', value: '', category:{id:0,name:''} },
            category: '',
            product: '',
            properties: []
        };

        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted: function() {
                this.getCategory(cid);
                //this.getProperty(cid);
                //this.getProduct(pid);
            },
            methods: {
                getCategory: function(cid) {
                    var url = "categories/" + cid;
                    axios.get(url).then(function (response) {
                        vue.category = response.data;
                    });
                },
                getProperty: function(cid) {
                    var url = "categories/" + cid + "/all_properties";
                    axios.get(url).then(function(response) {
                        vue.properties = response.data;
                    });
                },
                getProduct: function(pid) {
                    var url = "products/" + pid;
                    axios.get(url).then(function(response) {
                        vue.product = response.data;
                        vue.bean.pid = vue.product;
                    });
                },
                // addAll: function() {
                //     var url = this.uri;
                //     var params = [];
                //     for(b in data4Vue.properties) {
                //         var p = { pid: '', ptid: '', value: '' }
                //         p.pid = data4Vue.product;
                //         p.ptid = b;
                //         params.push(p);
                //     }
                //     axios.post(url, params).then(function(response) {
                //         console.log(response);
                //         data4Vue.beans = response.data;
                //     });
                // },
                update: function() {
                    if(!checkEmpty(this.bean.name, "产品名称"))
                        return;
                    var url = this.uri;
                    axios.put(url, this.bean).then(function(response){
                        location.href = vue.listURL + "?cid=" + vue.bean.category.id;
                    });
                }
            }
        });
    });
</script>

<div class="workingArea">
    <ol class="breadcrumb">
        <li><a href="admin_category_list">所有分类</a></li>
        <li><a :href="'admin_product_list?cid=' + bean.cid">{{category.name}}</a></li>
        <li class="active">{{product.name}}</li>
        <li class="active">编辑产品属性</li>
    </ol>

    <div class="editPVDiv">
        <div v-for="p in properties">
            <div class="eachPV">
                <span class="pvName">{{p.name}}</span>
                <span class="pvValue"><input @keyup.enter="update" v-model.trim="bean.value" class="pvValue" type="text" /></span>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>

</div>

<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>