<div th:fragment="productsAsideCategories">
    <script>
        $(function () {
            $("div.productsAsideCategories div.row a").each(function () {
                let v = Math.round(Math.random() * 6);
                if (v == 1){
                    $(this).css("color", "#87CEFA");
                }
            });
        });
    </script>
    <div :cid="c.id" class="productsAsideCategories" v-for="c in categories">
        <div class="row show1" v-for="ps in c.productsByRow">
            <a :href="'product_page?pid=' + p.id" v-for="p in ps" v-if="p.subTitle.length!=0">
                {{p.subTitle | subTitleFilter}}
            </a>
            <div class="seperator"></div>
        </div>
    </div>
</div>